
/*导航条*/
.home{
    width: 100%;
}
.img{
    width: 5rem;
}
#input{
    border-radius: 2rem;
    width: 90%;
    height: 1.8rem;
    margin-left: 1rem;
}
#btn{
    margin-right: 1rem;
}
#btn1{
    margin-left: 1rem;
}
.tab-item-active{
    background-color: rgb(230,0,18);
    color: white;

}
/*首页内容*/
.it{
    width: 100%;
    height: 100%;
    /*margin-top: 5rem;*/
}
/*调试大div间距*/
.it>div{
    width:47% ;
    height: 6rem;
    display: inline-block;
    margin-left:.4rem;
    margin-top: .6rem;
    background-color: rgb(185,184,184);
}
.imgs{
   width: 12rem;
}
/*调试图片*/
.it img{
    width: 8rem;
    height:6rem ;
    display: block;
    margin:.2rem auto;
}
.it>div div{
    width: 100%;
    height: 4rem;
    display: inline-block;
}
/*调试字体*/
.it-first{
    /*width:100% ;*/
    /*height: 10rem;*/
    background-color: rgb(255,255,255);
    display: inline-block;
    /*字体不换行或省略*/
    /*text-overflow: ellipsis;*/
    /*white-space: nowrap;*/
    /*overflow: hidden;*/
    margin-top: -.5rem;
}

.it-first p:nth-child(1){
    margin-left: .6rem;
    margin-top: -.3rem;
    padding-top: 5px;
    font-size: .8em;
    font-family: 微软雅黑;
}

.it-first p:nth-child(2):before{
    content: '¥';
    font-size: 1rem;
}
.it-first p:nth-child(2){
    margin-top: -.6rem;
    margin-left: .6rem;
    font-size: 1rem;
    color: red;

}
/*调试*/
.it-first .mark{
    margin-top: -2.6rem;
    width: 30px;
    height: 10px;
    border-radius: 50%;
    float: right;
    margin-right: .6rem;
    background-color: rgb(230,0,18)
}
.it-first i{
    color: white;
}


/*客服按钮*/
html,body,.scroll{
    -webkit-user-select:auto;
}
div #rong-conversation{
    left: 0;
}
div#rong-widget-minbtn{
    width:3rem;
    height:3rem;
}
.rongcloud-kefuBtn .rongcloud-people{
    display: none;
}
.rongcloud-kefuBtn>span{
    display: none;
}
#rong-widget-minbtn{
    background:url("../images/3.png") no-repeat  center/100%;
}
.rongcloud-kefuChat #header{
    /*background: #E60012;*/
}

/*弹出框*/
.tan{
    height: 14rem;
    width: 100%;
    background-color: white
}
/*名称 价格 库存*/
.tan_img{
    margin-top: 1rem;
    margin-left: 1rem;
}
.tan img{
    width: 38%;
    height: 7rem
}
.tan_img .san{
    width: 60%;
    position: absolute;
    top:1rem;
    right: .2rem;
}
.tan_img p:nth-of-type(1){
    font-size: 1rem;
}
.tan_img p:nth-of-type(2){
    font-size: 1.2rem;
    color: red;
    font-family: 微软雅黑;
}
.tan_img p:nth-of-type(3){
    color: gray;
    font-size: 1rem;

}
/*线*/
.tan_img .add-line{
    width: 96%;
    border-bottom:1px solid lightgrey ;
}
/*添加数量*/
.addGoods{
    height: 3.5rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin: 0 1rem;
    align-items: center;
}
 .addGoods div{
    display: flex;
    flex-flow: row nowrap;
}
 .addGoods span{
    font-size: 1.2rem;
}
 .addGoods img{
    width: 3.5rem;
    height: 1.8rem;
}
 .addGoods input{
    width: 3.5rem;
    text-align: center;
}

/*模态弹出框*/
.modal{
    /*min-width: 100%;*/
    min-height: 0;
    top:auto;
    bottom: 0;
}
div.modal-backdrop-bg{
    background: rgba(0,0,0,.2);
}
/*弹出框两个button*/
.btn{
    width: 100%;
    position: absolute;
    bottom: 0rem;
    display: flex;
    justify-content: space-between;
}
.btn div{
    width: 50%;
    height: 3rem;
    text-align: center;
    line-height: 3.5rem;
    color: white;
    font-size: 1.2rem;
}
.btn .but{
    width: 50%;
    background: rgb(242,127,136);
}
.btn .also{
    width: 50%;
    background: rgb(230,0,18);
}