.payment{
    background: rgb(238,238,238);
}
.payment_shop{
    height: 10rem;
    background: white;
    border-bottom: 1px solid gray;
    width: 100%;
}
.payment_time{
    height: 4rem;
    border-bottom: 1px solid gray;
    padding-top: .8rem;
    padding-left: .6rem;
    /*background: red;*/
    /*margin-top: .5rem;*/
}
.payment_time p{
    margin-top: .2rem;
}
.payment_time span:nth-of-type(1){
    font-size: 1rem;
    font-family: '黑体';
}
.payment_time span:nth-of-type(2){
    float: right;
    margin-right: 1.6rem;
}